.tree {
  position: absolute;
  background-image: url(../assets/sprites/entities/tree.png);
  background-size: cover;
  image-rendering: optimizeSpeed;
}

.rock {
  position: absolute;
  background-image: url(../assets/sprites/entities/stone.png);
  image-rendering: pixelated;
  background-size: cover;
}