.tree {
  position: absolute;
  background-image: url(../assets/entities/tree.png);
  background-size: cover;
  image-rendering: optimizeSpeed;
}

.stone {
  position: absolute;
  background-image: url(../assets/entities/stone.png);
  background-size: cover;
}