@import './entities.css';
@import './fish.css';
@import './inventory.css';
@import './npc.css';
@import './player.css';
@import './ui.css';

:root {
  --pixel-size: 2px;
  --grid-cell: calc( var(--pixel-size) * 2 * 32 );
}

body {
  background-color: rgb(24, 29, 35);
  font-family: Arial;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camera {
  width: calc(var(--grid-cell) * 9);
  height: calc(var(--grid-cell) * 5);
  overflow: hidden;
  background: #000000;
  position:relative;
  border: solid 3px white
}

.map {
  image-rendering: pixelated;
  background-image: url(../assets/map.png);
  background-size: 100%;
  width: calc(16 * var(--grid-cell)); 
  height: calc(10 * var(--grid-cell));
  position: relative;
  transition: all linear 0.1s;
}

.wall{
  position: absolute;
}
