.npc {
  position: absolute;
  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  transition: transform linear 0.1s;
  z-index: 1;
}

.npc-down {
  background-image: url(../assets/sprites/entities/npc/npc-down.png);
}

.npc-up {
  background-image: url(../assets/sprites/entities/npc/npc-up.png);
}

.npc-right {
  background-image: url(../assets/sprites/entities/npc/npc-right.png);
}

.npc-left {
  background-image: url(../assets/sprites/entities/npc/npc-left.png);
}