.player {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform linear 0.1s;
  z-index: 1;
  top: calc(var(--grid-cell) * -1);
}

.player-idle-down-1 {
  background-image: url(../assets/sprites/entities/player/idle-down-1.png);
}

.player-idle-down-2 {
  background-image: url(../assets/sprites/entities/player/idle-down-2.png);
}

.player-idle-down-3 {
  background-image: url(../assets/sprites/entities/player/idle-down-3.png);
}

.player-idle-down-4 {
  background-image: url(../assets/sprites/entities/player/idle-down-4.png);
}

.player-idle-up-1 {
  background-image: url(../assets/sprites/entities/player/idle-up-1.png);
}

.player-idle-up-2 {
  background-image: url(../assets/sprites/entities/player/idle-up-2.png);
}

.player-idle-up-3 {
  background-image: url(../assets/sprites/entities/player/idle-up-3.png);
}

.player-idle-up-4 {
  background-image: url(../assets/sprites/entities/player/idle-up-4.png);
}

.player-idle-right-1 {
  background-image: url(../assets/sprites/entities/player/idle-right-1.png);
}

.player-idle-right-2 {
  background-image: url(../assets/sprites/entities/player/idle-right-2.png);
}

.player-idle-right-3 {
  background-image: url(../assets/sprites/entities/player/idle-right-3.png);
}

.player-idle-right-4 {
  background-image: url(../assets/sprites/entities/player/idle-right-4.png);
}

.player-idle-left-1 {
  background-image: url(../assets/sprites/entities/player/idle-left-1.png);
}

.player-idle-left-2 {
  background-image: url(../assets/sprites/entities/player/idle-left-2.png);
}

.player-idle-left-3 {
  background-image: url(../assets/sprites/entities/player/idle-left-3.png);
}

.player-idle-left-4 {
  background-image: url(../assets/sprites/entities/player/idle-left-4.png);
}

.player-walk-down-1 {
  background-image: url(../assets/sprites/entities/player/walk-down-1.png);
}

.player-walk-down-2 {
  background-image: url(../assets/sprites/entities/player/walk-down-2.png);
}

.player-walk-down-3 {
  background-image: url(../assets/sprites/entities/player/walk-down-3.png);
}

.player-walk-down-4 {
  background-image: url(../assets/sprites/entities/player/walk-down-4.png);
}

.player-walk-up-1 {
  background-image: url(../assets/sprites/entities/player/walk-up-1.png);
}

.player-walk-up-2 {
  background-image: url(../assets/sprites/entities/player/walk-up-2.png);
}

.player-walk-up-3 {
  background-image: url(../assets/sprites/entities/player/walk-up-3.png);
}

.player-walk-up-4 {
  background-image: url(../assets/sprites/entities/player/walk-up-4.png);
}

.player-walk-right-1 {
  background-image: url(../assets/sprites/entities/player/walk-right-1.png);
}

.player-walk-right-2 {
  background-image: url(../assets/sprites/entities/player/walk-right-2.png);
}

.player-walk-right-3 {
  background-image: url(../assets/sprites/entities/player/walk-right-3.png);
}

.player-walk-right-4 {
  background-image: url(../assets/sprites/entities/player/walk-right-4.png);
}

.player-walk-left-1 {
  background-image: url(../assets/sprites/entities/player/walk-left-1.png);
}

.player-walk-left-2 {
  background-image: url(../assets/sprites/entities/player/walk-left-2.png);
}

.player-walk-left-3 {
  background-image: url(../assets/sprites/entities/player/walk-left-3.png);
}

.player-walk-left-4 {
  background-image: url(../assets/sprites/entities/player/walk-left-4.png);
}