/* Time */
.time {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px 20px;
  background-color: rgb(208, 110, 75);
  border: solid 5px brown;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}

.pause {
  background-color: rgb(169, 169, 169);
  border: solid 5px rgb(83, 83, 83);
}

/* Dialog */
.textbox {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
  padding: 10px 20px;
  background-color: rgb(208, 110, 75);
  border: solid 5px brown;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
}

.textbox-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.textbox-sprite {
  width: 130px;
  height: 120px;
  background-image: url(../assets/entities/npc/npc-dialog.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 28px;
}

.textbox-text {
  font-size: 14px;
}

/* Action */
.action {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 55px;
  background-size: cover;
}

.action-fish {
  background-image: url(../assets/ui/hint-fishing.png);
}

.action-catching {
  background-image: url(../assets/ui/hint-catching.png);
}

.action-talk {
  background-image: url(../assets/ui/hint-talking.png);
}