:root {
  --pixel-size: 2px;
  --grid-cell: calc( var(--pixel-size) * 2 * 32 );
}

body {
  background-color: rgb(24, 29, 35);
  font-family: Arial;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camera {
  width: calc(var(--grid-cell) * 9);
  height: calc(var(--grid-cell) * 5);
  overflow: hidden;
  background: #000000;
  position:relative;
  border: solid 3px white
}

.map {
  image-rendering: pixelated;
  background-image: url(./@shared/assets/sprites/map.png);
  background-size: 100%;
  width: calc(16 * var(--grid-cell)); 
  height: calc(10 * var(--grid-cell));
  position: relative;
  transition: all linear 0.1s;
}

.player {
  position: absolute;
  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  transition: transform linear 0.1s;
  z-index: 1000;
}

.player-down {
  background-image: url(./@shared/assets/sprites/player-down.png);
}

.player-up {
  background-image: url(./@shared/assets/sprites/player-up.png);
}

.player-right {
  background-image: url(./@shared/assets/sprites/player-right.png);
}

.player-left {
  background-image: url(./@shared/assets/sprites/player-left.png);
}

.npc {
  position: absolute;
  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  transition: transform linear 0.1s;
}

.npc-down {
  background-image: url(./@shared/assets/sprites/npc-down.png);
}

.npc-up {
  background-image: url(./@shared/assets/sprites/npc-up.png);
}

.npc-right {
  background-image: url(./@shared/assets/sprites/npc-right.png);
}

.npc-left {
  background-image: url(./@shared/assets/sprites/npc-left.png);
}

.tree {
  position: absolute;
  background-image: url(./@shared/assets/sprites/tree.png);
  background-size: cover;
  image-rendering: pixelated;
}

.stone {
  position: absolute;
  background-image: url(./@shared/assets/sprites/stone.png);
  background-size: cover;
  image-rendering: pixelated;
}

.time {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px 20px;
  background-color: rgb(208, 110, 75);
  border: solid 5px brown;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}

.pause {
  background-color: rgb(169, 169, 169);
  border: solid 5px rgb(83, 83, 83);
}

.textbox {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
  padding: 10px 20px;
  background-color: rgb(208, 110, 75);
  border: solid 5px brown;
  border-radius: 6px;
  font-size: 16px;
  
}

.textbox-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.textbox-text {
  font-size: 14px;
}

.inventory {
  z-index: 9999;
  position: absolute;
  background-color: rgb(208, 110, 75);
  border: solid 5px brown;
  border-radius: 6px;
  left: 50%;
  bottom: 30px;
  bottom: calc(64 * 2)px;
  transform: translate(-50%, 0);
}

td {
  border: solid 1px brown;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  background-size: cover;
  image-rendering: pixelated;
}

.selected {
  background-color: rgb(255, 255, 150);
  color: black
}

.wall{
  position: absolute;
}

.fish {
  position: absolute;
  background-image: url(./@shared/assets/sprites/fish.png);
  background-size: cover;
  image-rendering: pixelated;
  transition: transform linear 0.1s;
}

.frenzy {
  background-image: url(./@shared/assets/sprites/fish-frenzy.png);
}

.lifebar-container {
  position: absolute;
  width: 128px;
  height: 10px;
  background-color: black;
  z-index: 10;
}

.lifebar {
  position: absolute;
  width: 128px;
  height: 10px;
  background-color: green;
  z-index: 11;
  transition: width linear 0.2s;
}


.fishingrod-container {
  position: absolute;
  width: 128px;
  height: 6px;
  background-color: rgb(0, 0, 0);
  z-index: 10;
}

.fishingrod {
  position: absolute;
  width: 0px;
  height: 6px;
  background-color: rgb(154, 220, 255);
  z-index: 11;
  transition: width linear 0.2s;
}

.inventory .pierre {
  background-image: url(./@shared/assets/items/stone.png);
}

.inventory .branche {
  background-image: url(./@shared/assets/items/branch.png);
}

.inventory .feuille {
  background-image: url(./@shared/assets/items/leaf.png);
}

.inventory .bar-commun {
  background-image: url(./@shared/assets/items/bar-commun.png);
}

.inventory .love-u {
  background-image: url(./@shared/assets/items/heart.png);
}

td .qty {
  position: absolute;
  bottom: 0px;
  right: 0px;
}